<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>VNF Lifecycle Validation</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.spirent.com"><img src="/static/spirent-white-png.png" class="navbar-fixed-top"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Lab Environment</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lab Elements<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/mano/">Management & Orchestration</a></li>
                <li><a href="/vim/">Virtualized Infrastructure Manager</a></li>
                <li><a href="/em/">Element Manager</a></li>
                <li><a href="/traffic/">Traffic Parameters</a></li>
                <li><a href="/vnf/">Virtual Network Function</a></li>
              </ul>
            </li>
            <li><a href="/">Additional Parameters</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          <!--<h1>ElemM Environment</h1>-->

          <h2>Element Managers</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              </thead>
          <!--div class="table-responsive" -->
              <% for i in range(0, len(em_list)): %>
                <tr>
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{ em_list[i][0] }}
                  </td>
                  <td>
                    <img src="/static/{{ em_list[i][1] }}-logo.png" width="40px">
                  </td>
                  <td>
                    <form action="/em/update/" method="post">
                      <input type="hidden" name="update_em" value={{em_list[i][0]}}>
                      <input type="hidden" name="confirmed" value="no">
                      <input value="Update" type="submit" class="btn btn-default">
                    </form>
                  </td>
                  <td>
                    <form action="/em/delete/" method="post">
                      <input type="hidden" name="delete_em" value={{em_list[i][0]}}>
                      <input type="hidden" name="confirmed" value="no">
                      <input value="Delete" type="submit" class="btn btn-default">
                    </form>
                  </td>

                </tr>
              <% end %>
          </table>
            <div class="btn-group">
              <form action="/em/add/" method="post">
                <button name="em_type" type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/em/add/tacker/">TACKER</a></li>
                </ul>
            </form>
            </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
